body {
  margin: 0;
}

.jumbotron {
  text-align: center;
}

.topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

.topbar ul > li {
  float: left;
}

.topbar ul > li.right {
  float: right;
}

.topbar ul > li > a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topbar ul > li > a:hover:not(.active) {
  background-color: #111;
}

.topbar ul > li > a.active {
  background-color: #4CAF50;
}


/*Footer style*/

.footer {
  position: absolute;
  right: 0;
  /*bottom: 0;*/
  left: 0;
  padding: 1em;
  background-color: #333;
  text-align: center;
}

.footer > ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.footer > ul > li {
  display: inline-block;
  /*float: left;*/
  color: #fff;
  height: auto;
}

.footer > ul > li > a {
  color: #fff;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.footer ul > li > a:hover {
  background-color: #111;
}

@media only screen and (max-width: 600px) {
  .topbar ul > li {
    float: none;
  }

  .footer > ul > li {
    display: block;
  }
}

#creation li {
  margin: 5px;
  margin-left: 15px;
  border: 2px solid;
  border-radius: 10px;
  color: white;
}

.father {
  display: block;
  padding-top:10px;
}

.child {
  padding-top:10px;
}

.father li {
  background-color: red;
  display: inline;
  padding: 2px 10px;
  margin; 5px;
}

.child li {
  background-color: blue;
}

.facher > li {
  background-color: green;
}

