/*Deals Style*/

#deals .table tr {
  display: flex;
  width: 100%;
  /*justify-content: space-between;*/
  align-items: center;
  border-top: 2px solid #ccc;
}

#deals .table tr td{
  border: 0;
}

#deals .table tr td .offer {
  font-size: 25px;
  color: red;
}

#deals .table tr td small span {
  text-decoration: line-through;
}

#deals .table th,
#deals .table td {
  text-align: center;
}


@media only screen and (max-width: 500px) {
  #deals .table thead,
  #deals .table tbody {
    display: table-header-group !important;
  }
}


#deals .table thead,
#deals .table tbody {
  display: flex;
}

#deals .table tbody {
  flex-direction: column;
}